.nav-link{
    color: black;
}
.for-forms{
    margin-top:50px;
    padding:5%;
    border-style:solid;
    border-color: black;
}
.flashes{
    text-align: center;
    background-color: #06df2352;
}



@media screen and (min-width: 750px) {
    .sm-only{
    display: none;
    }}


@media screen and (max-width: 750px) {
    .bg-only {
    display: none;
    }}
