{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row card margin-top">
        <div class="col-12 text-center">
            <h1>Your Bookings</h1>
        </div>
    </div>
</div>



<div class="container-fluid margin-top card">
    {% for booking in bookings %}
    {% if booking.by == session.user %}
    <div class="row ">
        {% if booking.house_name == "Hamilton Road, London, NW10" %}
        <div class="col-8"><img src="{{ url_for('static', filename='assets/img/house-1-main.jpg') }}" alt=""></div>
        {% elif booking.house_name == "Crescent Road, Oxford, OX4" %}
        <div class="col-8"><img src="{{ url_for('static', filename='assets/img/house-2-main.jpg') }}" alt=""></div>
        {% elif booking.house_name == "Marine Parade, Leigh-On-Sea, SS9" %}
        <div class="col-8"><img src="{{ url_for('static', filename='assets/img/house-3-main.jpg') }}" alt=""></div>
        {% else %}
        {% endif %}
        <div class="col-4 text-center">
            <h1>Email:{{ booking.Email }}</h1>
            <h2>Contact:{{ booking.number }}</h2>
            <h3>date:{{ booking.date }}</h3>
            <h4>Time:{{ booking.time }}</h4>
            <h5>Name:{{ booking.fullname }}</h5>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
