{% extends "base.html" %}
{% block content %}
<div class="row form">
    <div class="col-lg-2"></div>
    <form class="col-12 col-lg-8 text-center"method="POST" action="{{ url_for('create_booking') }}">
        <div class="form-group">
            <label for="house">Select House</label>
            <select class="form-control" name="house"id="house" required>
                {% for house in houses %}
                <option value="{{ house.house_name }}">{{ house.house_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="name@example.com"
                required>
        </div>
        <div class="form-group">
            <label for="fullname">Name</label>
            <input type="text" name="fullname" id="fullname"class="form-control" placeholder=Fullname
                required>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" id="date" name="date" class="form-control" placeholder="Choose a Date"
                required>
        </div>
        <div class="form-group">
            <label for="number">Contact No.</label>
            <input type="text" id="number" name="number" class="form-control" placeholder="Contact No."
                required>
        </div>
        <div class="form-group">
            <label for="time">Select Time</label>
            <select class="form-control" name="time"id="time" required>
                {% for time in times %}
                <option value="{{ time.time }}">{{ time.time }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="buttons">
                    Make a Booking
                </button>
            </div>
        </div>
    </form>
    <div class="col-lg-2"></div>
</div>
{% endblock %}

