{% extends "base.html" %}
{% block content %}
<div class="card mb-3">
    <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Fxg76rn6j33fymvpfqp7wv3ttj5i215&option=N&h=536&permitphotoenlargement=false" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">London, England, NW8 6HR United Kingdom</h5>
        <p class="card-text">A rare double-fronted Freehold house, located on one of the widest plots on Avenue Road. 
            The house is positioned on the corner of Acacia Road and Avenue Road. This is undoubtedly a unique opportunity to acquire a low-built house with phenomenal refurbishment 
            / redevelopment potential. With over 7,578 sq ft of interior space and over 5,900 sq ft of outside space, the sense of grandeur is evident throughout this remarkable home.
             Avenue Road, one of St. John's Wood's premier roads, is within close proximity to St. John's Wood High Street, St.
             John's Wood Underground station (Jubilee Line) and Regent's Park & within a 10 minute drive to Mayfair.</p>
        
    </div>
</div>
<div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
{% endblock %}
