{% extends "base.html" %}
{% block content %}
<div class="container house-gallery">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-8">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-4 text-center">
            <h3>London, England, NW8 6HR United Kingdom</h3>
            <p>A rare double-fronted Freehold house, located on one of the widest plots on Avenue Road.
                 The house is positioned on the corner of Acacia Road and Avenue Road. 
                 This is undoubtedly a unique opportunity to acquire a low-built house with phenomenal refurbishment / redevelopment potential.
                  With over 7,578 sq ft of interior space and over 5,900 sq ft of outside space, the sense of grandeur is evident throughout this remarkable home.
                   Avenue Road, one of St. John's Wood's premier roads, is within close proximity to St.
                    John's Wood High Street, St. John's Wood Underground station (Jubilee Line) and Regent's Park & within a 10 minute drive to Mayfair.</p>
                    <br>
                    <a href="{{ url_for('house1') }}"class="buttons" type="button">More Information</a>
                    {% if session.user %}
                    <a href="{{ url_for('create_booking') }}"class="buttons" type="button">Book a house viewing!</a>
                    {% else %}
                    <a href="{{ url_for('login_warning') }}"class="buttons" type="button">Book a house viewing!</a>
                    {% endif %}
        </div>
    </div>
</div>
<div class="container house-gallery">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-8">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-4 text-center">
            <h3>London, England, NW8 6HR United Kingdom</h3>
            <p>A rare double-fronted Freehold house, located on one of the widest plots on Avenue Road.
                 The house is positioned on the corner of Acacia Road and Avenue Road. 
                 This is undoubtedly a unique opportunity to acquire a low-built house with phenomenal refurbishment / redevelopment potential.
                  With over 7,578 sq ft of interior space and over 5,900 sq ft of outside space, the sense of grandeur is evident throughout this remarkable home.
                   Avenue Road, one of St. John's Wood's premier roads, is within close proximity to St.
                    John's Wood High Street, St. John's Wood Underground station (Jubilee Line) and Regent's Park & within a 10 minute drive to Mayfair.</p>
                    <br>
                    <a href="{{ url_for('house2') }}"class="buttons" type="button">More Information</a>
                    {% if session.user %}
                    <a href="{{ url_for('create_booking') }}"class="buttons" type="button">Book a house viewing!</a>
                    {% else %}
                    <a href="{{ url_for('login_warning') }}"class="buttons" type="button">Book a house viewing!</a>
                    {% endif %}
        </div>
    </div>
</div>
<div class="container house-gallery">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-8">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-4 text-center">
            <h3>London, England, NW8 6HR United Kingdom</h3>
            <p>A rare double-fronted Freehold house, located on one of the widest plots on Avenue Road.
                 The house is positioned on the corner of Acacia Road and Avenue Road. 
                 This is undoubtedly a unique opportunity to acquire a low-built house with phenomenal refurbishment / redevelopment potential.
                  With over 7,578 sq ft of interior space and over 5,900 sq ft of outside space, the sense of grandeur is evident throughout this remarkable home.
                   Avenue Road, one of St. John's Wood's premier roads, is within close proximity to St.
                    John's Wood High Street, St. John's Wood Underground station (Jubilee Line) and Regent's Park & within a 10 minute drive to Mayfair.</p>
                    <br>
                    <a href="{{ url_for('house3') }}"class="buttons" type="button">More Information</a>
                    {% if session.user %}
                    <a href="{{ url_for('create_booking') }}"class="buttons" type="button">Book a house viewing!</a>
                    {% else %}
                    <a href="{{ url_for('login_warning') }}"class="buttons" type="button">Book a house viewing!</a>
                    {% endif %}
    </div>
</div>
{% endblock %}
