{% extends "base.html" %}
{% block content %}
<div class="container house-gallery">
    <div class="row">
        <div class="col-12">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-6">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
        <div class="col-lg-3 col-6">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
        <div class="col-lg-3 col-6">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
        <div class="col-lg-3 col-6">
            <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2Ftadbrdrg138a44jfrwnzchhfs0i215&option=N&permitphotoenlargement=false&w=1200" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            {% if session.user %}
            <a href="{{ url_for('create_booking') }}"class="buttons" type="button">Book a house viewing!</a>
            {% else %}
            <a href="{{ url_for('login_warning') }}"class="buttons" type="button">Book a house viewing!</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
